.todaytodos_page{
  display: flex;
  justify-content: center;
  align-items: center;
}

.todaytodos_container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  /* border: solid 1px white; */
  padding-bottom: 60px;
}

.todaytodos_title{
  margin-top: 20px;
  margin-bottom: 20px;
}

.todaytodos_empty {
  margin: 100px;
}
