.monthtodos_page{
  display: flex;
  justify-content: center;
  align-items: center;
}

.monthtodos_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  /* border-bottom: solid 1px white; */
  margin-top: 100px;
}

.monthtodos_date{
  margin: 20px;
  font-size: 16px;
}

.todaytodos_empty{
  margin: 100px;
}